.also {
  padding-top: 103px;
  padding-left: 640px;

  background-color: #fff;
  background-image: url("/images/also.jpg");
  background-repeat: no-repeat;
  &__title {
    margin-bottom: 225px;

    text-transform: uppercase;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.06em;
  }

  &__description {
    margin-bottom: 150px;

    width: 675px;
    font-size: 36px;
    line-height: 53px;
    letter-spacing: -0.01em;
  }

  &__link {
    margin-bottom: 42px;

    @extend %link;
    @extend %transparent-link;

    line-height: 23px;
    letter-spacing: 0.1em;

    &:hover {
      color: $primary-dark-color;
    }
  }
}
