.footer {
  position: sticky;
  bottom: 0;
  z-index: -1;

  &__contact {

    padding: 98px 0 98px 640px;

    height: 380px;

    display: grid;
    grid-template-columns: repeat(3, 240px);
    gap: 22px;

    background-image: url("/images/footer.jpg");
    background-repeat: no-repeat;

  }

  &__title {
    margin-bottom: 60px;

    font-size: 14px;
    line-height: 11px;
    letter-spacing: -0.01em;
  }

  &__copyright {
    padding: 32px 0 26px 120px;

    height: 80px;

    font-size: 14px;
    line-height: 11px;
    letter-spacing: -0.01em;
    color: #fff;

    background-color: $primary-color;
  }
}
