.header {
  display: flex;
  justify-content: space-between;
  padding: 27px 180px;
  padding-top: 27px;

  height: 65px;

  background-color: #f4f9e2;

  &__list {
    padding: 0 40px;
    display: flex;
    justify-content: space-between;

    list-style-type: none;

  }

  &__list-item {

    position: relative;
    z-index: 2;
    padding-bottom: 10px;

    &:not(:last-of-type) {
      margin-right: 20px;
    }

  }

  &__link {
    padding-bottom: 10px;

    font-size: 14px;
    line-height: 16px;
    color: $primary-dark-color;

    text-decoration: none;

    &:hover::after {
      content: "";

      position: absolute;
      bottom: 0;
      right: 0;

      width: 100%;
      height: 1px;
      background-color: $primary-dark-color;
    }

    &:active::after {
      content: "";

      position: absolute;
      bottom: 0;
      right: 0;

      width: 100%;
      height: 1px;
      background-color: $primary-dark-color;
    }
  }

  &__contact {
    position: relative;
    z-index: 2;

    display: inline-block;
    margin-top: -10px;    /*костыль */

    width: 150px;
    height: 50px;

    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    line-height: 50px;

    background-color: $primary-color;
    border-radius: 50px;
  }
}
