.intro {
  z-index: 0;
  display: flex;
  justify-content: space-between;

  padding: 187px 0 0 $padding;

  background-color: #f4f9e2;

  @media (max-width: $tablet) {
    padding-right: $mid-padding;
    padding-left: $mid-padding;
  }

  @media (max-width: $mobile) {
    padding-right: $small-padding;
    padding-left: $small-padding;
  }
  &__text {
    z-index: 2;

    max-width: 484px;

    @media (max-width: $mobile) {
      width: 100%;
    }

  }

  &__logo {
    margin-bottom: 37px;
  }

  &__title {
    margin-bottom: 19px;

    width: 100%;
    height: 167px;

    font-size: 48px;
    line-height: 53px;
    text-transform: uppercase;

    @media (max-width: $mobile) {
      font-size: 36px;
    }

  }

  &__description {
    margin-bottom: 63px;

    width: 100%;

    font-size: 24px;
    line-height: 42px;
  }

  &__link {
    position: relative;
    z-index: 2;
    @extend %link;
    margin-bottom: 75px;

    height: 50px;
    width: 150px;

    line-height: 50px;

    &--colored {
      @extend %colored-link;

      &:hover {
        background-color: $primary-dark-color;
        color: $secondary-color;
      }
    }

    &--transparent {
      @extend %transparent-link;
      &:hover {
        color: $primary-dark-color;

      }
    }
  }

  &__background {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;

    width: 50%;
    height: 704px;

    @media (max-width: $tablet) {
      width: 100%;

    }

    @media (min-width: $desktop) {
      height: 704px;
    }
  }

  &__img {

    position: relative;

    height: 704px;

    background: url("/images/intro.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @media (max-width: $mobile) {
      background-position: right;

    }

    @media (min-width: $desktop) {
      height: 704px;

    }
  }

  &__shadow {
    position: relative;

    z-index: -1;
    bottom: 45px;

    height: 704px;

    background-image: url("/images/intro-blue.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @media (max-width: $mobile) {
      background-position: right;
    }

    @media (min-width: $desktop) {
      height: 704px;
    }
  }

  &__white {
    width: 25%;

    background-color: #fff;

    @media (max-width: $tablet) {
      display: none;
    }
  }
}
