.service {
  padding-bottom: 120px;

  background-color: #fff;

  &__title {
    padding-bottom: 24px;

    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.06em;
    color: rgba(34, 53, 111, 0.5);
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0;

    list-style-type: none;

    @media (max-width: 1439px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 600px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__item {

    @extend %card-style;

    padding: 95px 52px 0 78px;

    height: 360px;

    transition: 0.3s;

    &:hover {
      cursor: pointer;

      position: relative;

      z-index: 1;
    }

    &--lifting {
      background-color: #ffe2de;
      &:hover {
        background-color: #ff8170;
      }
    }

    &--running {
      background-color: #c4e769;
      &:hover {
        background-color: #86af1d;
      }
    }

    &--pumping {
      background-color: #62d0df;
      &:hover {
        background-color: #1f8a98;
      }
    }

    &--pumping-iron {
      background-color: #0052c1;
      &:hover {
        background-color: #00193d;
      }
    }
  }
}
