.thesis {
  padding-top: 150px;
  padding-bottom: 95px;

  color: #fff;

  background-image: url("/images/thesis.jpg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  background-color: $primary-color;

  @media (max-width: $tablet) {
    background-image: none;
  }

  &__title {
    margin-bottom: 75px;

    font-size: 36px;
    line-height: 27px;
    letter-spacing: -0.01em;
  }

  &__description {

    width: 555px;

    font-size: 24px;
    line-height: 35px;

    @media (max-width: $tablet) {
      width: 100%;

      font-size: 120x;
    }
  }
}
