$primary-color: #62d0df;
$primary-dark-color: #22356f;
$secondary-color: #f9b640;

$large-screen: 2560px;

$full-HD: 1920px;
$design: 1600px;
$notebook: 1280px;

$desktop: 1280px;

$tablet: 1025px;

$mobile: 768px;

$padding: 178px;
$mid-padding: 80px;
$small-padding: 40px;

$mobile-image-height: 400px;
